body {
  background-color: #222c30 !important;
}

.container-fluid {
  padding: 0px !important;
}

header {
  background: #222c30;
  background: radial-gradient(
    circle,
    rgba(35, 45, 49, 1) 0%,
    rgba(25, 27, 26, 1) 100%
  );
  padding: 20px;
  padding-top: 50px;
  border-bottom: 1px solid #37464d;
}

.header-text {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

.header-text-large {
  font-size: 80px;
}

.header-text-small {
  font-size: 22px;
}

#header-image {
  width: 150px;
  height: 150px;
  background-color: #418aac;
  margin: 0px auto;
  margin-top: 40px;
  border-radius: 75px;
  border: 1px solid #1492cc;
}

nav {
  width: 100%;
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  background: rgb(24, 31, 34);
  list-style-type: none;
  text-align: center;
  border-bottom: 1px solid #37464d;
}

nav ul li {
  display: inline;
  list-style-type: none;
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  font-weight: 400;
  text-decoration: none;
}

nav ul li a:hover {
  color: rgb(100, 208, 255);
}
